.login-section{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #42a5f5;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.login-form{
	width: 550px;
	border-radius: 15px;
	background-color: #b3d6f9;
	z-index: 5;
	box-shadow: 25px 25px 10px #015798;
}

.form-control:focus {
  outline: none;
  border: 1px solid rgb(9, 30, 62); /* Custom border color */
  box-shadow: 0 0 0;
}

.menu-toggle:focus {
  outline: none;
  border: 0; /* Custom border color */
  box-shadow: 0 0 0;
}

.benh-nhan, .benh-an, .update-benh-nhan, .update-benh-an{
	display: none;
}

.custom-link{
	text-decoration-line: underline;
}

.custom-link:hover{
	cursor: pointer;
	color: #42a5f5;
}

